.header {
    margin-bottom: 20px;
    background-color: #3b3b71;
    padding: 10px 0;
    .container {
        display: flex;
    }
    .header-menu {
        text-align: left;
        flex: 1;
        nav {
            display: inline-block;
            a {
                display: inline-block;
                padding: 20px;
                color: #fff;
            }
        }
    }
    &-right {
        padding-top: 10px;
        text-align: right;
    }
}
